.rowBackground {
  border-radius: 44px;
  margin: 40px 7px 7px 7px;
  opacity: 1px;
  background: var(--ion-row-background);
}

.cancelButton {
  margin: 10px;
  font-size: 16px;
  --background: var(--ion-button-color);
  color: var(--ion-segment-checked-color);
  --border-radius: 24px;
  height: 36px;
}

.addButton {
  margin: 10px;
  font-size: 16px;
  --background: var(--ion-segment-checked-color);
  color: var(--ion-button-color);
  --border-radius: 24px;
  height: 36px;
}
